<html>
<head>
  <link rel = "stylesheet" type = 'text/css' href = "{{ url_for('static', filename = 'styles/style.css') }}" >
  <title>
    Video Uploaded
  </title>
</head>
<body>
<div class = "main-block">
  <div class = "center">
    <form action = "" enctype = "multipart/form-data">
      <div class = "btn-block">
      <button type = "submit" value = "submit"> Compress video </button>
      <button type = "submit" value = " submit"> find number of redundant frames</button>
      <button type = "submit" value = "submit"> similarity ratio for every frame</button>
      </div>
    </form>
    </div>
  </div>
</div>
</body>
</html>